body{
    background-color: #fbefff;
    padding: 25px;
    text-align: center;
}
h1 {
    color: #5C6AC4;
    font-family: monospace;
}
p1{
    font-family: monospace;
    font-size: 10px;
}

.responsive-img {
    width: 100%;     /* image fills its container */
    max-width: 600px; /* limit max size on desktop */
    height: auto;    /* maintain aspect ratio */
    display: block;  
    margin-left: 5%;   /* small offset left */
    margin-right: auto;
}
