body {
    background-color: #fbefff;
    padding: 5vw;       /* padding scales with viewport width */
    text-align: center;
    font-family: monospace;
    max-width: 800px;   /* optional: limits width on desktop */
    margin: 0 auto;     /* center body */
}

h1 {
    color: #5C6AC4;
    font-size: 6vw;     /* scales with screen width */
}

t1 {
    color: #8c94c9;
    font-size: 3vw;     /* scales with screen */
}

p1 {
    font-size: 2vw;
}

p {
    font-size: 3vw;
}

.responsive-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
