body{
    background-color: #fbefff;
    padding: 25px;
    text-align: center;
}
h1 {
    color: #5C6AC4;
    font-family: monospace;
}
t1 {
    color: #8c94c9;
    font-family: monospace;
    font-size: 14px;
}
p1{
    font-family: monospace;
    font-size: 10px;
}
p{
    font-family: monospace;
}
.responsive-img {
    width: 100%;     /* image fills its container */
    max-width: 450px; /* limit max size on desktop */
    height: auto;    /* maintain aspect ratio */
    display: block;  
    margin: 0 auto;
    transform: translateX(-4.5%);
}
